.blob-container {
    background-color: #f9fafb; /* bg-gray-50 */
  
    max-height: 100vh; /* max-h-screen */
    
    display: flex; /* flex */
    align-items: center; /* items-center */
    justify-content: center; /* justify-center */
  
    padding-left: 4rem; /* px-16 */
    padding-right: 4rem; /* px-16 */
  }
  
  .blob-wrapper {
    position: relative; /* relative */
    width: 100%; /* w-full */
    max-width: 32rem; /* max-w-lg */
  }
  
  .blob {
    position: absolute; /* absolute */
    width: 22rem; /* w-[352px] */
    height: 22rem; /* h-[352px] */
    border-radius: 50%;
    mix-blend-mode: multiply; /* mix-blend-multiply */
    filter: blur(2px); /* filter */
    opacity: 0.7; /* opacity-70 */
    animation: blob 7s infinite; /* animation */
  }
  
  .blob-purple {
    top: 10rem; /* top-40 */
    left: -4rem; /* -left-4 */
    background-color: #a855f7; /* bg-purple-300 */
  }
  
  .blob-yellow {
    top: 10rem; /* top-40 */
    right: -3.5rem; /* -right-14 */
    background-color: #f6e05e; /* bg-yellow-300 */
    animation-delay: 2s; /* animation-delay-2000 */
  }
  
  .blob-pink {
    top: 50%; /* top-50 */
    left: 5rem; /* left-20 */
    background-color: #f472b6; /* bg-pink-300 */
    animation-delay: 4s; /* animation-delay-4000 */
  }
  
  @keyframes blob {
    0% {
      transform: translate(0px, 0px) scale(1);
    }
    33% {
      transform: translate(30px, 40px) scale(1.9);
    }
    66% {
      transform: translate(20px, 20px) scale(0.8);
    }
    100% {
      transform: translate(0px, 0px) scale(1);
    }
  }